@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

/* MAQUETACIO */

body {
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
}

.container9 {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    padding: 1rem;
    background-color: black;
    width: 1200px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    background-color: #3d4c51;
}

.header .nav {
    width: 60%;
}

.header > div {

    background-color: #f96161;
    padding: 0.6rem;
    width: 15%;
}

.banner-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.6rem;
    background-color: rgb(255, 146, 3);
}

.banner {
    background-color: #ffcd38;
    font-size: 1.9rem;
    font-weight: bold;
    padding: 0.6rem;
    margin: 0.9rem;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 0.9rem;
    padding: 1rem;
    background-color: black;
    margin-top: 0.9rem;
    width: 75rem;
}

.articles {
    background-color: #828cac;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 72%;
}

.article {
    background-color: #5575a5;
    width: 46%;
    padding: 1rem;
    margin-bottom: 1.3rem;
}

.article:nth-child(1),
.article:nth-child(2) {
    margin-top: 1.3rem;
}

.article:nth-child(1),
.article:nth-child(3) {
    margin-left: 0.9rem;
}

.article:nth-child(2),
.article:nth-child(4) {
    margin-right: 0.9rem;
}

.navegacion {
    background-color: #84b3d7;
    width: 94.5%;
    margin-bottom: 1.3rem;
    padding: 1.3rem;
}

.publicidad {
    width: 27%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: #f96161;
}

.ad {
    background-color: #ffcd38;
    color: black;
    padding: 0.9rem;
    margin: 1.3rem 1.3rem 0 1.3rem;
}

.ad:nth-child(2) {
    margin-top: 0;
}

.footer-container {
    background-color: #060605;
    padding: 1rem;
    margin-top: 1rem;

    width: 75rem;
}

.footer {
    background-color: #cdda91;
    padding: 1rem;
}

/* BREAKPOINTS */

@media (max-width: 991.98px) {

    body {
        background-color: violet;
    }

    .container9 {
        flex-direction: column;
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .header > div {
        width: 100%;
    }

    .header .nav {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .articles {
        width: 100%;
    }

    .publicidad {
        width: 100%;
        padding-bottom: 1.1rem;
    }

    .footer-container {
        width: 100%;
    }
}

@media (max-width: 767.98px) {

    body {
        background-color: rgb(139, 238, 130);
    }

    .article {
        flex-direction: column;
        width: 100%;
    }

    .article:nth-child(1){
        margin-bottom: 0;
    }

    .article:nth-child(2),
    .article:nth-child(4) {
        margin-left: 0.9rem;
    }

    .article:nth-child(1),
    .article:nth-child(3) {
 
        margin-right: 0.9rem;
    }

    .navegacion{
        width: 96%;
    }
}


/* KEYFRAMES */

@keyframes zoomIn {
    from {transform:scale(1);
        background-color: #f96161;
    }
    to {transform: scale(1.35);
        background-color: aqua;
    }
  }

@keyframes zoomOut {
    from {transform:scale(1.38);
        background-color: aqua;
    }
    to {transform: scale(1);
        background-color: #f96161;
    }
  }

  .logo {
    transition: transform 0.5s ease;
    outline: none;
  }

  .logo:hover {
    animation: zoomIn 0.5s forwards ; 
  }

  .logo:not(:hover) {
    animation: zoomOut 0.5s forwards ; 
  }